<%- include('header') %>
    <canvas id="bg"></canvas>
      <div id="info">
    <div class="infos">
      <div class="infos-child">
        <h2><%= title %></h2>
      </div>
      <div class="division "></div>
      <div class="infos-child  infos-child-first">
        a blog writen by sb
      </div>
      <div class="division division-first"></div>
      <div class="infos-child infos-child-second">
          <div>
              
        <span><a href='/article'>首页</a></span>
        <span><a href="/about">关于</a></span>
        <span> <a href='/archive'>归档</a></span>
        
          </div>
        <span ><a href='https://github.com/Zertu' class="am-icon-github"></a></span>
      </div>
    </div>
  </div>
   
<%- include('footer') %>

