<input type="checkbox" id='clickSimulation'>
<label for="clickSimulation" class='sider'>
<% if (session) { %>  

<div class="userinfo">
    <span><%= session.userName %></span>
</div>
<% }else{%>  
<form action="/login"  method = 'post' >
<input type="email" name='email' />
<input type="password" name='password' />
<input type="submit">
</form>

<% } %>  
</label>