<input type="checkbox" id='clickSimulation'>
<label for="clickSimulation" class='sider'>
<% if (session) { %>  

<div class="userinfo">
    <span><%= session.userName %></span>
</div>
<% }else{%>  
<form action="/login"  method = 'post' class='loginform'>
邮箱:<input type="email" name='email' /></br>
密码:<input type="password" name='password' /></br>
<input type="submit"></br>
</form>

<% } %>  
</label>