<input type="checkbox" id='clickSimulation'>
<label for="clickSimulation" class='sider'>
<% if (session) { %>  

<div class="userinfo">
    <span><%= session.userName %></span>
</div>
<% }else{%>  
<form action="/login"  method = 'post' class='loginform'>
<span>邮箱:</span><input type="email" name='email' /></br>
<span>密码:</span><input type="password" name='password' /></br>
<input type="submit"></br>
</form>

<% } %>  
</label>